{% load static %}

<!DOCTYPE html>
<html lang="en" class="theme-dark">
    <head>
        <title>Compiler</title>
        <link rel="stylesheet" href="{% static 'code_editor/style.css' %}">
        <script src="{% static 'code_editor/theme.js' %}"></script>
        <script src="{% static 'code_editor/dropdown_controller.js' %}"></script>
        <script src="{% static 'code_editor/tab_controller.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
        {% block content %}
        <div class="container">
            <div class="navbar">
                <div class="navbar-item">
                    <button onclick="drop()" class="dropbtn">File</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Compile</a>
                        <a href="{% url 'add_file_choose' %}">New File</a>
                        <a href="{% url 'add_dir_choose' %}">New Directory</a>
                        <a href="{% url 'delete_choose' %}">Delete...</a>
                    </div>
                </div>
                <div class="navbar-item">
                    Edit
                </div>
                <div class="navbar-item">
                    Options
                </div>
                <label class="switch">
                    <input type="checkbox" id="theme-switch" checked onclick="toggleTheme()">
                    <span class="slider round"></span>
                </label>
                <label for="theme-switch" class="theme-label">Dark mode</label>
            </div>
            <div class="sidebar">
                    {% if user.is_authenticated %}
                        /<br>
                        <ul>
                            {% for f in subfiles %}
                                {{ f }}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Login to see your files</p>
                    {% endif %}
            </div>
            <div class="main">
                <pre>
                    {% if user.is_authenticated %}
{{ file }}
                    {% endif %}
                </pre>
            </div>
            <div class="snippet">
                <pre>
                    {% if user.is_authenticated %}
std: {{ std }}
proc: {{ proc }}
mcs51: {{ mcs51 }}
stm8: {{ stm8 }}
                        {{ formset.errors }}
                    {% endif %}
                </pre>
            </div>
            <div class="tab">
                <div class="tabbar">
                    <div class="tabbar-item" onclick="change_tab(1)" id="bar1">
                        Standard
                    </div>
                    <div class="tabbar-item" onclick="change_tab(2)" id="bar2">
                        Optimization
                    </div>
                    <div class="tabbar-item" onclick="change_tab(3)" id="bar3">
                        Processor
                    </div>
                    <div class="tabbar-item" onclick="change_tab(4)" id="bar4">
                        Dependent
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-area" id="tab1">
                        <form action="" method="post" name="standard_opt">
                            {% csrf_token %}
                            {{ std_form.as_p }}
                            <input type="submit" value="Save" class="std-button" name="standard_opt"">
                        </form>
                    </div>
                    <div class="tab-area" id="tab2">
                        <p>Choose optimizations:</p>
                        <div class="row">
                            <label class="switch" style="margin-left: 0">
                                <input type="checkbox" id="speed">
                                <span class="slider round"></span>
                            </label>
                            <label for="speed" class="theme-label" style="margin: 0">--opt-code-speed</label>
                        </div>
                        <div class="row">
                            <label class="switch" style="margin-left: 0">
                                <input type="checkbox" id="reverse">
                                <span class="slider round"></span>
                            </label>
                            <label for="reverse" class="theme-label" style="margin: 0">--noloopreverse</label>
                        </div>
                        <div class="row">
                            <label class="switch" style="margin-left: 0">
                                <input type="checkbox" id="labelopt">
                                <span class="slider round"></span>
                            </label>
                            <label for="labelopt" class="theme-label" style="margin: 0">--nolabelopt</label>
                        </div>
                    </div>
                    <div class="tab-area" id="tab3">
                        <form action="" method="post" name="processor_opt" id="processor_opt">
                            {% csrf_token %}
                            {{ proc_form.as_p }}
                            <input type="submit" value="Save" class="std-button" name="processor_opt" onclick="change_proc()">
                        </form>
                    </div>
                    <div class="tab-area" id="tab4">
                        <div id="procmcs51">
                            <p>MCS51 options:</p>
                            <form action="" method="post" name="mcs51_opt" id="mcs51_opt" style="padding: 10px 10px">
                                {% csrf_token %}
                                {{ mcs51_form.as_p }}
                                <input type="submit" value="Save" class="std-button" name="mcs51_opt">
                            </form>
                        </div>
                        <div id="procz80">
                            <p>Z80 options:</p>
                            <div class="row">
                                <label class="switch" style="margin-left: 0">
                                    <input type="checkbox" id="z80bc">
                                    <span class="slider round"></span>
                                </label>
                                <label for="z80bc" class="theme-label" style="margin: 0">--callee-saves-bc</label>
                            </div>
                            <div class="row">
                                <label class="switch" style="margin-left: 0">
                                    <input type="checkbox" id="z80reserve">
                                    <span class="slider round"></span>
                                </label>
                                <label for="z80reserve" class="theme-label" style="margin: 0">--reserve-regs-iy</label>
                            </div>
                        </div>
                        <div id="procstm8">
                            <p>STM8 options:</p>
                            <form action="" method="post" name="stm8_opt" id="stm8_opt" style="padding: 10px 10px">
                                {% csrf_token %}
                                {{ stm8_form.as_p }}
                                <input type="submit" value="Save" class="std-button" name="stm8_opt">
                            </form>
                        </div>
                    </div>
                    <script src="{% static 'code_editor/processor_controller.js' %}"></script>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>