{% load static %}

<!DOCTYPE html>
<html lang="en" class="theme-dark">
    <head>
        <title>Compiler</title>
        <link rel="stylesheet" href="{% static 'code_editor/style.css' %}">
        <link rel="stylesheet" href="{% static 'code_editor/codemirror.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/clike/clike.min.js"></script>
    </head>
    <body>
        {% block content %}
        <div class="container">
            <div class="navbar">
                <div class="navbar-item">
                    <button onclick="drop()" class="dropbtn">File</button>
                    <div id="myDropdown" class="dropdown-content">
                        <div id="compile-dropdown"></div>
                        <a href="{% url 'add_file_choose' %}">New File</a>
                        <a href="{% url 'add_dir_choose' %}">New Directory</a>
                        <a href="{% url 'delete_choose' %}">Delete...</a>
                    </div>
                </div>
                <div class="navbar-item">
                    <button onclick="dropEdit()" class="dropbtn">Edit</button>
                    <div id="myDropdownEdit" class="dropdown-content">
                        <form id="save" style="width: 100%; padding: 0; margin: 0;">
                            {% csrf_token %}
                            <div id="save-dropdown" style="width: 100%;"></div>
                        </form>
                    </div>
                    <script src="{% static 'code_editor/save_controller.js' %}"></script>
                </div>
                <div class="navbar-item">
                    <button onclick="dropOpt()" class="dropbtn">Options</button>
                    <div id="myDropdownOptions" class="dropdown-content">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
                <label class="switch">
                    <input type="checkbox" id="theme-switch" onclick="toggleTheme()">
                    <span class="slider round"></span>
                </label>
                <label for="theme-switch" class="theme-label">Dark mode</label>
                <script src="{% static 'code_editor/theme.js' %}"></script>
            </div>
            <script src="{% static 'code_editor/dropdown_controller.js' %}"></script>
            <div class="sidebar">
                    {% if user.is_authenticated %}
                        {% if user.appuser.nick %}
                            {{ user.appuser.nick }}'s files:<br><br>
                        {% else %}
                            {{ user.username }}'s files:<br><br>
                        {% endif %}
                        /<br>
                        <ul>
                            {% for f in subfiles %}
                                {{ f }}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p><a href="{% url 'login'%}">Login</a> to see your files</p>
                    {% endif %}
            </div>
            <script src="{% static 'code_editor/delete_controller.js' %}"></script>
            <textarea class="main" id="main"></textarea>
            <script src="{% static 'code_editor/fetch_controller.js' %}"></script>
            <div class="snippet"></div>
            <script src="{% static 'code_editor/compile_controller.js' %}"></script>
            <script src="{% static 'code_editor/section_dropdown_controller.js' %}"></script>
            <div class="tab">
                <div class="tabbar">
                    <div class="tabbar-item" onclick="change_tab(1)" id="bar1">
                        Standard
                    </div>
                    <div class="tabbar-item" onclick="change_tab(2)" id="bar2">
                        Optimization
                    </div>
                    <div class="tabbar-item" onclick="change_tab(3)" id="bar3">
                        Processor
                    </div>
                    <div class="tabbar-item" onclick="change_tab(4)" id="bar4">
                        Dependent
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-area" id="tab1">
                    {% if user.is_authenticated %}
                        <form action="" method="post" name="standard_opt" onchange="sendStdForm()">
                            {% csrf_token %}
                            {{ std_form.as_p }}
                        </form>
                    {% endif %}
                    </div>
                    <div class="tab-area" id="tab2">
                    {% if user.is_authenticated %}
                        <p>Choose optimizations:</p>
                        <form action="" method="post" name="optimization_opt" id="optimization_opt" onchange="sendOptimForm()" style="padding: 0 10px; flex-direction: column;">
                            {% csrf_token %}
                            {% for opt in optim_form %}
                                <div class="row">
                                    <label class="switch" style="margin-left: 0">
                                        <input type="checkbox" id="{{ opt.name }}" name="{{ opt.name }}">
                                        <span class="slider round"></span>
                                    </label>
                                    <label for="{{ opt.name }}" class="theme-label" style="margin: 0">{{ opt.label }}</label>
                                </div>
                            {% endfor %}
                        </form>
                    {% endif %}
                    </div>
                    <div class="tab-area" id="tab3">
                    {% if user.is_authenticated %}
                        <form action="" method="post" name="processor_opt" id="processor_opt" onchange="sendProcForm()">
                            {% csrf_token %}
                            {{ proc_form.as_p }}
                        </form>
                    {% endif %}
                    </div>
                    <div class="tab-area" id="tab4">
                    {% if user.is_authenticated %}
                        <div id="procmcs51">
                            <p>MCS51 options:</p>
                            <form action="" method="post" name="mcs51_opt" id="mcs51_opt" onchange="sendMCS51Form()" style="padding: 10px 10px">
                                {% csrf_token %}
                                {{ mcs51_form.as_p }}
                            </form>
                        </div>
                        <div id="procz80">
                            <p>Z80 options:</p>
                            <form action="" method="post" name="z80_opt" id="z80_opt" onchange="sendZ80Form()" style="padding: 0 10px; flex-direction: column;">
                                {% csrf_token %}
                                {% for opt in z80_form %}
                                    <div class="row">
                                        <label class="switch" style="margin-left: 0">
                                            <input type="checkbox" id="{{ opt.name }}" name="{{ opt.name }}">
                                            <span class="slider round"></span>
                                        </label>
                                        <label for="{{ opt.name }}" class="theme-label" style="margin: 0">{{ opt.label }}</label>
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                        <div id="procstm8">
                            <p>STM8 options:</p>
                            <form action="" method="post" name="stm8_opt" id="stm8_opt" onchange="sendSTM8Form()" style="padding: 10px 10px">
                                {% csrf_token %}
                                {{ stm8_form.as_p }}
                            </form>
                        </div>
                    {% endif %}
                    </div>
                    <script src="{% static 'code_editor/tab_controller.js' %}"></script>
                </div>
            </div>
            <script src="{% static 'code_editor/form_controller.js' %}"></script>
        </div>
        {% endblock %}
    </body>
</html>