{% load static %}

<!DOCTYPE html>
<html lang="en" class="theme-dark">
    <head>
        <title>Compiler</title>
        <link rel="stylesheet" href="{% static 'code_editor/style.css' %}">
        <script src="{% static 'code_editor/theme.js' %}"></script>
        <script src="{% static 'code_editor/dropdown_controller.js' %}"></script>
        <script src="{% static 'code_editor/tab_controller.js' %}"></script>
        <script src="{% static 'code_editor/processor_controller.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
        {% block content %}
        <div class="container">
            <div class="navbar">
                <div class="navbar-item">
                    <button onclick="drop()" class="dropbtn">File</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Compile</a>
                        <a href="{% url 'add_file_choose' %}">New File</a>
                        <a href="{% url 'add_dir_choose' %}">New Directory</a>
                        <a href="{% url 'delete_choose' %}">Delete...</a>
                    </div>
                </div>
                <div class="navbar-item">
                    Edit
                </div>
                <div class="navbar-item">
                    Options
                </div>
                <label class="switch">
                    <input type="checkbox" id="theme-switch" checked onclick="toggleTheme()">
                    <span class="slider round"></span>
                </label>
                <label for="theme-switch" class="theme-label">Dark mode</label>
            </div>
            <div class="sidebar">
                    {% if user.is_authenticated %}
                        /<br>
                        <ul>
                            {% for f in subfiles %}
                                {{ f }}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Login to see your files</p>
                    {% endif %}
            </div>
            <div class="main">
                <pre>
                    {% if user.is_authenticated %}
{{ file }}
                    {% endif %}
                </pre>
            </div>
            <div class="snippet">
                <pre>
void setup()
{
    // set timer 0 mode 1
    TMOD = 0x01;
    TH0 = 0x4C;
    TL0 = 0x00;

    // start timer 0
    TR0 = 1;
    // enable timer 0 interrupt
    ET0 = 1;
    // enable all interrupt
    EA = 1;
}
                </pre>
            </div>
            <div class="tab">
                <div class="tabbar">
                    <div class="tabbar-item" onclick="change_tab(1)" id="bar1">
                        Standard
                    </div>
                    <div class="tabbar-item" onclick="change_tab(2)" id="bar2">
                        Optimization
                    </div>
                    <div class="tabbar-item" onclick="change_tab(3)" id="bar3">
                        Processor
                    </div>
                    <div class="tabbar-item" onclick="change_tab(4)" id="bar4">
                        Dependent
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-area" id="tab1">
                        <label class="std-label" for="standard">Choose C standard:</label>
                        <select class="std-select" name="standard" id="standard">
                            <option value="c89">C89</option>
                            <option value="c99">C99</option>
                            <option value="c11">C11</option>
                        </select>
                    </div>
                    <div class="tab-area" id="tab2">
                        <p>Choose optimizations:</p>
                        <div class="row">
                            <label class="switch" style="margin-left: 0">
                                <input type="checkbox" id="speed">
                                <span class="slider round"></span>
                            </label>
                            <label for="speed" class="theme-label" style="margin: 0">--opt-code-speed</label>
                        </div>
                        <div class="row">
                            <label class="switch" style="margin-left: 0">
                                <input type="checkbox" id="reverse">
                                <span class="slider round"></span>
                            </label>
                            <label for="reverse" class="theme-label" style="margin: 0">--noloopreverse</label>
                        </div>
                        <div class="row">
                            <label class="switch" style="margin-left: 0">
                                <input type="checkbox" id="labelopt">
                                <span class="slider round"></span>
                            </label>
                            <label for="labelopt" class="theme-label" style="margin: 0">--nolabelopt</label>
                        </div>
                    </div>
                    <div class="tab-area" id="tab3">
                        <label class="std-label" for="processor">Choose processor:</label>
                        <select class="std-select" name="processor" id="processor" onchange="change_proc()">
                            <option value="mcs51">MCS51</option>
                            <option value="z80">Z80</option>
                            <option value="stm8">STM8</option>
                        </select>
                    </div>
                    <div class="tab-area" id="tab4">
                        <div id="procmcs51">
                            <p>MCS51 options:</p>
                            <label class="std-label" for="mcs51model" style="padding: 10px 10px">Choose model:</label>
                            <select class="std-select" name="mcs51model" id="mcs51model">
                                <option value="mcs51small">small</option>
                                <option value="mcs51medium">medium</option>
                                <option value="mcs51large">large</option>
                                <option value="mcs51huge">huge</option>
                            </select>
                        </div>
                        <div id="procz80">
                            <p>Z80 options:</p>
                            <div class="row">
                                <label class="switch" style="margin-left: 0">
                                    <input type="checkbox" id="z80bc">
                                    <span class="slider round"></span>
                                </label>
                                <label for="z80bc" class="theme-label" style="margin: 0">--callee-saves-bc</label>
                            </div>
                            <div class="row">
                                <label class="switch" style="margin-left: 0">
                                    <input type="checkbox" id="z80reserve">
                                    <span class="slider round"></span>
                                </label>
                                <label for="z80reserve" class="theme-label" style="margin: 0">--reserve-regs-iy</label>
                            </div>
                        </div>
                        <div id="procstm8">
                            <p>STM8 options:</p>
                            <label class="std-label" for="stm8model" style="padding: 10px 10px">Choose model:</label>
                            <select class="std-select" name="stm8model" id="stm8model">
                                <option value="stm8medium">medium</option>
                                <option value="stm8large">large</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>