<!DOCTYPE html>
<html lang="en" class="theme-dark">
<head>
    <title>Compiler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'code_editor/style.css' %}">
</head>
<body>

    <div class="row"; style="padding-left: 10px; padding-right: 10px">
        {% block sidebar %}
            <a href="{% url 'index' %}">Compiler</a>

            <div style="display: flex; flex-direction: column; align-self: end; position: relative; margin-left: auto">
                {% if user.is_authenticated %}
                    User: {{ user.appuser.nick }}
                    <a href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>

        {% endblock %}
    </div>
    <div class="row" style="display: flex; justify-content: center">
        <div style="display: flex; flex-direction: column;">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>